.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 50px;
}

.book-item {
  background: #333;
  padding: 30px;
  border: px solid blue;
  border-radius: 2px;
  text-align: center;
  width: 170px;
  color:whitesmoke;
}

.book-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #444;
  margin-bottom: 10px;
}
.book-item h3 {
  margin: 10px 0;
}

.book-item p {
  margin: 0.5px;
}