/* Contact.css */
.App-content {
    max-width: 800;
    margin: 20 auto;
    padding: 20px;
  }
  
  .App-content h2 {
    font-size: 2em;
    color: #333;
  }
  
  .App-content p {
    font-size: 4.5em;
    line-height: 3.5;
    color: #666;
  }

  

.contact-container {
    text-align: center;
    width: 90%;
    height: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container h1 {
  margin-bottom: 20px;
}

.contact-container p {
    margin: 20px 0; 
}
